@inherits LayoutComponentBase

<PageTitle>BBHack2k22.Front</PageTitle>

<div class="page">
    <main>
        <section class="hero">
            <div class="content">
                <article class="content pt-4">
                    @Body
                </article>
            </div>
            <div class="waves"></div>
        </section>
    </main>
</div>